#!/bin/bash

# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
# $HOME/.local/bin/mise trust $HOME/.config/mise/config.toml && $HOME/.local/bin/mise install

set -euo pipefail

command -v mise >/dev/null 2>&1 || {
  echo "mise is not installed"
  exit 1
}

mise trust "$HOME/.config/mise/config.toml"
mise install
